---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div
    class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium"
  >
    <blockquote class="text-gray-600 italic">
      <Icon name="tabler:quote" />
       "Give a man a program, frustrate him for a day. Teach a man to program,
      frustrate him for a lifetime." <strong>Muhammad Waseem</strong>
    </blockquote>
  </div>
</section>
