---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
  description: `Welcome to Tiep Phan's Blog. I'm a software engineer, a blogger, and a mentor. I write about software development, coding, architecture, and technology.`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About me"
    image={{
      src: 'https://images.unsplash.com/photo-1561152820-340780bc049e?q=80&w=3280&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Macbook',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">
        Tiep Phan's Blog
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <p>
        Hi, I'm Tiep, I'm a Senior Software Engineer with over 9 years of
        experiences in Web Development.
      </p>
      <p>
        I'm passionate about using cutting-edge technologies
        (TypeScript/JavaScript, Angular, React, etc)
      </p>
      <p>and best practices to deliver high-quality products.</p>
      <p>
        I'm also a tech enthusiast and a lifelong learner. I love to share my
        knowledge and experience with others.
      </p>
    </Fragment>
  </Hero>
</Layout>
