---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
  description: `Welcome to Tiep Phan's Blog. I'm a software engineer, a blogger, and a mentor. I write about software development, coding, architecture, and technology.`,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About me"
    image={{
      src: 'https://images.unsplash.com/photo-1561152820-340780bc049e?q=80&w=3280&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Macbook',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">
        Tiep Phan's Blog
      </span>
    </Fragment>

    <Fragment slot="subtitle">
      <strong>Hi, I'm Tiep Phan.</strong>
      <span>With over a decade of experience as a Senior Software Engineer,</span>
      <strong> former Google Developer Expert (GDE) specializing in Angular, </strong>
      <span>and a lifelong student of the web.</span>
      <br/>
      <span>After 10+ years in the industry, I’ve seen technology shift dramatically.</span>
      <span>I am deeply committed to the "craft" of development, using</span>
      <strong>TypeScript, Angular, and React</strong>
      <span>not just to build features, but to deliver high-quality, scalable products.</span>
      <br/>
      <span>This blog is a collection of my technical research, experiments, and professional experiences from ten years on the front lines of engineering.</span>
    </Fragment>
  </Hero>
</Layout>
