---
import Layout from '~/layouts/PageLayout.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';

const metadata = {
  title: 'TiepPhan Blog',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'View my latest posts',
        href: '#highlighted-posts',
        icon: 'tabler:chevrons-down',
      },
    ]}
    image={{ src: '~/assets/images/hero-laptop.jpg', alt: 'Blog Hero Image' }}
  >
    <Fragment slot="title">Tiep Phan's Blog</Fragment>

    <Fragment slot="subtitle">
      <span>
        Hi, I'm a Senior Software Engineer with over 8 years of experiences in
        Web development.
      </span>
      <span>
        I'm passionate about using cutting-edge technologies
        (TypeScript/JavaScript, Angular, React) and best practices to deliver
        high-quality products.
      </span>
      <span>
        I'm also a tech enthusiast and a lifelong learner. I love to share my
        knowledge and experience with others.
      </span>
      <span> Welcome to my blog.</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />
  <!-- HighlightedPosts Widget ******* -->
  <div id="highlighted-posts"></div>
  <BlogLatestPosts title="Find out more content in our Blog" />
</Layout>
