---
interface Props {
  className?: string;
  id: string;
  title?: string;
  loading?: 'lazy' | 'eager';
}
const { className, title, id, loading = 'lazy' } = Astro.props;
---

<div class={className ?? 'youtube-embed-16-9'}>
  <iframe
    src={`https://www.youtube.com/embed/${id}`}
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
    allowfullscreen
    title={title ?? `YouTube video player for ${id}`}
    loading={loading}></iframe>
</div>
